<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/styles/text.css}">
    <meta charset="UTF-8">
    <title>Dodaj Notatkę</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&family=Montserrat:wght@400;900&family=Open+Sans:ital,wght@1,300&family=Sacramento&family=Ubuntu+Mono&family=Wix+Madefor+Display:wght@500;600&display=swap"
            rel="stylesheet">
</head>
<body>
<header th:insert="navbar.html :: basic"> </header>
<div class="container">
    <form class="form" action="#" th:action="@{/items/add}" th:object="${newNote}" method="POST">
        <h2>Add note</h2>
        <div class="form-item-note">
            <label th:for="title">Title</label>
            <input type="text" th:field="*{title}"/>
            <i class="error fa-solid fa-circle-exclamation"></i><span class="message error" th:errors="*{title}">Błąd tytułu</span>
        </div>

        <div class="form-item-note">
            <label th:for="content">Content</label>
            <input type="text" th:field="*{content}"/>
            <i class="error fa-solid fa-circle-exclamation"></i><span class="message error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Błąd treści</span>
        </div>

        <div class="form-item-note">
            <label th:for="link">Link</label>
            <input type="text" th:field="*{link}"/>
        </div>

        <div class="form-item-note">
            <label th:for="reminder_date">Reminder date</label>
            <input type="date" th:field="*{reminder_date}"/>
            <i class="error fa-solid fa-circle-exclamation"></i><span class="message error" th:if="${#fields.hasErrors('reminder_date')}" th:errors="*{reminder_date}">Błąd daty</span>
        </div>

        <div class="form-item-note">
                <label th:for="category">Select a category:</label>
                <select th:field="*{category}">
                    <option th:each="option : ${category_list}" th:value="${option.categoryName}" th:text="${option.categoryName}"></option>
                </select>
                <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Błąd kategorii</span>
        </div>

        <button class="btn submit" name="submit" type="submit" value="0">Submit</button>
    </form>
</div>
</body>
</html>