<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/styles/text.css}">
    <meta charset="UTF-8">
    <title>Dodaj Kategorię</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&family=Montserrat:wght@400;900&family=Open+Sans:ital,wght@1,300&family=Sacramento&family=Ubuntu+Mono&family=Wix+Madefor+Display:wght@500;600&display=swap"
            rel="stylesheet">
</head>
<body>
<header th:insert="navbar.html :: basic"> </header>
<div class="container">

    <form class="form" action="#" th:action="@{/items/category/add}" th:object="${newCategory}" method="POST">
        <h2>Add Category</h2>
        <label th:for="name">Name</label>
        <input type="text" th:field="*{name}"/>
        <i class="error fa-solid fa-circle-exclamation"></i><span class="message error" th:errors="*{name}">Błąd nazwy</span>
        <button class="btn submit" name="submit" type="submit" value="0">Submit</button>
    </form>
</div>
</body>
</html>