<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit user</title>
  <link rel="stylesheet" th:href="@{/styles/text.css}" />
  <link
          href="https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&family=Montserrat:wght@400;900&family=Open+Sans:ital,wght@1,300&family=Sacramento&family=Ubuntu+Mono&family=Wix+Madefor+Display:wght@500;600&display=swap"
          rel="stylesheet">
</head>
<body>
<header th:insert="navbar.html :: basic"> </header>
  <div class="container">
    <form class="form" action="#" th:action="@{/users/edit/init}" th:object="${newUser}" method="POST">
      <h2>Edit User</h2>
      <label for="userId">UserId</label>
      <input th:type="number" th:value="${editedUser.userId}" id="userId" name="userId"  readonly="readonly"/>

      <label for="login">Login</label>
      <input th:type="text" th:value="${editedUser.login}" id="login" name="login"  readonly="readonly"/>

      <label for="name">Name</label>
      <input th:type="text" th:value="${editedUser.name}" id="name" name="name"  readonly="readonly"/>


      <label for="surname">Surname</label>
      <input th:type="text" th:value="${editedUser.surname}" id="surname" name="surname"  readonly="readonly"/>

      <label for="age">Age</label>
      <input type="number" th:value="${editedUser.age}" id="age" name="age"  readonly="readonly"/>
      <input type="hidden" th:value="${editedUser.password}" id="password" name="password"/>
      <label for="roleId">RoleId</label>
      <select th:field="*{roleId}" id="roleId" name="roleId">
        <option th:value="${editedUser.getRoleId()}" th:text="${editedUser.getRoleName().getRoleName()}"></option>
        <option th:each="option : ${roles}" th:if="${editedUser.getRoleName().getRoleName() != option.getRoleName()}" th:value="${option.getRoleId()}" th:text="${option.getRoleName()}"></option>
      </select>

      <button class="btn submit" name="submit" type="submit" value="0">Submit</button>
      <a class="btn redirect" th:href="@{/users}">Users</a>
    </form>
  </div>
</body>
</html>