<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="navbars">
    <meta charset="UTF-8">
    <title>NavigationBar</title>
</head>
<body>
    <div class="nav-bar" th:fragment="basic">
        <h3 class="logo">StoreEverything</h3>
       <ul class="nav-bar-links">
           <li><a th:href="@{/items/}">Notatki</a></li>
           <li><a th:href="@{/items/add}">Dodaj notatkę</a></li>
           <li><a th:href="@{/items/category/add}">Dodaj kategorię</a></li>
       </ul>
    </div>
</body>
</html>