<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="navbars">
    <meta charset="UTF-8">
    <title>NavigationBar</title>
</head>
<body>
    <nav class="nav-bar" th:fragment="basic">
        <h1 class="logo">StoreEverything</h1>
       <ul class="nav-bar-links">
           <li><a th:href="@{/items/}">Notes</a></li>
           <li><a th:href="@{/items/add}">Add Note</a></li>
           <li><a th:href="@{/items/category/add}">Add Category</a></li>
       </ul>
    </nav>
</body>
</html>