html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    margin: auto auto;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
    z-index: 1;
}

.logo {
    font-size: 2rem;
    font-weight: lighter;
    padding: 0% 6% 0% 7%;
    color: #303030;
}

.nav-bar-links {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0% 6% 0% 7%;
}

.nav-bar-links li a {
    color: #8c8c8f;
    text-decoration: none;
    position: relative;
    font-size: 1rem;
}

.nav-bar-links li a:hover {
    color: #303030;
}

.container {
    position: relative;
    margin: 10vh auto 0 auto;
    overflow-x: hidden;
}

.items-main {

}

.textbox2 {
    background: #AFEEEE;
    padding: 5px;
    border: 1px solid lightgray;
}
.textbox1 {
    display: flex;
    background: ghostwhite;
    font-size: 15px;
    padding: 5px;
    border: 1px solid lightgray;
}
.error-message{
    background: rosybrown;
}